# Visual Studio
.vs/
bin/
obj/

# VS Code
.vscode/

# Kiro
.kiro/

# Others
*.user
*.suo

# Ignore documentation files
CargoManagementSystem/*.md

# Ignore scripts
CargoManagementSystem/*.bat
CargoManagementSystem/*.ps1